{% extends 'base.html' %}

{% block title %}{{ namespace_name }}{% endblock %}

{% block content %}
    <h1>Namespace {{ namespace_name }} objects:</h1>

    <div class="row">
        <div class="column-3">
            <h2>Deployments:</h2>
            <ul>
                {% for key, value in deployments.items() %}
                    <li>
                        <a href="{{ url_for('home.deployment', namespace_name=namespace_name, deployment_name=value.name) }}">{{ value.name }}</a>
                        : {{ value.available_replicas }}/{{ value.desired_replicas }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="column-3">
            <h2>Services: </h2>
            <ul>
                {% for key, value in services.items() %}
                    <li>
                        <a href="{{ url_for('home.service', namespace_name = namespace_name, service_name = value.name) }}">{{ value.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="column-3">
            <h2>Ingresses: </h2>
            <ul>
                {% for key, value in ingresses.items() %}
                    <li>
                        <a href="{{ url_for('home.ingress', namespace_name = namespace_name, ingress_name = value.name) }}">{{ value.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        {% if events %}
            <table style="width:100%">
                <tr>
                    <th>Last seen:</th>
                    <th>Type</th>
                    <th>Reason</th>
                    <th>Involved object</th>
                    <th>Message</th>
                    <th>Count</th>
                </tr>
                {% for e in events %}
                    <tr>
                        <td>{{ e.last_timestamp }}</td>
                        {% if e.type == 'Warning' %}
                            <td><span class="warn">{{ e.type }}</span></td>
                        {% else %}
                            <td>{{ e.type }}</td>
                        {% endif %}
                        <td>{{ e.reason }}</td>
                        <td>{{ e.involved_object_kind }}/{{ e.involved_object_name }}</td>
                        <td>{{ e.message }}</td>
                        <td>{{ e.count }}</td>
                    </tr>
                {% endfor %}
            </table>

        {% endif %}
    </div>
{% endblock %}